vsbuild/
.idea/
cmake-build-debug/
install/
.claude/
package/
nul
.cache/
*.log
vsbuild*/
vcpkg_installed/
CLAUDE.md
AGENTS.md
mo2-fomod-plus.7z
docs/
tests/build
build/
compile_commands.json
LOG/
mob/
